# Compilação do PyInstaller
build/
dist/
*.spec

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# IDEs e Editores
.vscode/
.idea/

# Chaves e Arquivos Sensíveis
config.json
brain.json
erros_conhecidos.txt
ai_usage.json
long_term_memory.json

# Arquivos de Teste do Usuário
*.xlsx
*.xlsm
*.csv
fotos/
fotos_teste_por_aba/
relatorios_n8n/
relatorios/
relatorios_sandbox/
dummy_destino/
models/
brawltimeninja/
